src/main/resources/cxf/OpenInvoiceDetail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://openinvoice.services.adyen.com" xmlns:ns1="http://common.services.adyen.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://openinvoice.services.adyen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://openinvoice.services.adyen.com">
<xsd:complexType name="OpenInvoiceDetailRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="amount" nillable="true" type="ns1:Amount"/>
<xsd:element minOccurs="0" name="merchantAccount" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="reference" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="retrieveDetail">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="request" nillable="true" type="tns:OpenInvoiceDetailRequest"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="OpenInvoiceDetailResult">
<xsd:sequence>
<xsd:element minOccurs="0" name="lines" nillable="true" type="tns:ArrayOfInvoiceLine"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfInvoiceLine">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="InvoiceLine" nillable="true" type="tns:InvoiceLine"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InvoiceLine">
<xsd:sequence>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="itemPrice" type="xsd:long"/>
<xsd:element minOccurs="0" name="itemVAT" type="xsd:long"/>
<xsd:element minOccurs="0" name="lineReference" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="numberOfItems" type="xsd:int"/>
<xsd:element minOccurs="0" name="vatCategory" nillable="true" type="tns:VatCategory"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="VatCategory">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="High"/>
<xsd:enumeration value="Low"/>
<xsd:enumeration value="None"/>
<xsd:enumeration value="Zero"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:element name="retrieveDetailResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="result" nillable="true" type="tns:OpenInvoiceDetailResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ServiceException" type="ns1:ServiceException"/>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.services.adyen.com">
<xsd:complexType name="Amount">
<xsd:sequence>
<xsd:element minOccurs="0" name="currency" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="value" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceException">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" nillable="true" type="ns1:Error"/>
<xsd:element minOccurs="0" name="type" nillable="true" type="ns1:Type"/>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="Type">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="internal"/>
<xsd:enumeration value="validation"/>
<xsd:enumeration value="security"/>
<xsd:enumeration value="configuration"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="Error">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Unknown"/>
<xsd:enumeration value="NotAllowed"/>
<xsd:enumeration value="NoAmountSpecified"/>
<xsd:enumeration value="InvalidCardNumber"/>
<xsd:enumeration value="UnableToDetermineVariant"/>
<xsd:enumeration value="CVCisNotTheRightLength"/>
<xsd:enumeration value="InvalidLoyaltyAmountSpecified"/>
<xsd:enumeration value="InvalidPaRes3dSecure"/>
<xsd:enumeration value="SessionAlreadyUsed"/>
<xsd:enumeration value="RecurringNotEnabled"/>
<xsd:enumeration value="InvalidBankAccountNumber"/>
<xsd:enumeration value="InvalidVariant"/>
<xsd:enumeration value="InvalidBankDetailsMissing"/>
<xsd:enumeration value="InvalidBankCountry"/>
<xsd:enumeration value="BankCountryNotSupported"/>
<xsd:enumeration value="OpenInvoiceLinesMissing"/>
<xsd:enumeration value="OpenInvoiceLineInvalid"/>
<xsd:enumeration value="OpenInvoiceLinesInvalidTotalAmount"/>
<xsd:enumeration value="InvalidDateOfBirth"/>
<xsd:enumeration value="InvalidBillingAddress"/>
<xsd:enumeration value="InvalidDeliveryAddress"/>
<xsd:enumeration value="InvalidShopperName"/>
<xsd:enumeration value="MissingShopperEmail"/>
<xsd:enumeration value="MissingShopperReference"/>
<xsd:enumeration value="MissingPhoneNumber"/>
<xsd:enumeration value="MobilePhoneNumberOnly"/>
<xsd:enumeration value="InvalidPhoneNumber"/>
<xsd:enumeration value="RecurringInvalidContract"/>
<xsd:enumeration value="BankAccountOrBankLocationIdNotValid"/>
<xsd:enumeration value="AccountHolderMissing"/>
<xsd:enumeration value="CardHolderNameMissing"/>
<xsd:enumeration value="InvalidExpiry"/>
<xsd:enumeration value="MissingMerchantReference"/>
<xsd:enumeration value="BillingAddressCityProblem"/>
<xsd:enumeration value="BillingAddressStreetProblem"/>
<xsd:enumeration value="BillingAddressHouseNumberOrNameProblem"/>
<xsd:enumeration value="BillingAddressCountryProblem"/>
<xsd:enumeration value="BillingAddressStateOrProvinceProblem"/>
<xsd:enumeration value="OpenInvoiceFailedToRetrieveDetails"/>
<xsd:enumeration value="InvalidAmount"/>
<xsd:enumeration value="UnsupportedCurrency"/>
<xsd:enumeration value="RecurringRequiredFields"/>
<xsd:enumeration value="InvalidCardExpiryOnInPast"/>
<xsd:enumeration value="InvalidCardExpiry"/>
<xsd:enumeration value="BankNameOrBankLocationIsNotValid"/>
<xsd:enumeration value="InvalidIdealMerchantReturnUrl"/>
<xsd:enumeration value="InvalidCardStartDateInFuture"/>
<xsd:enumeration value="InvalidIssuerCountryCode"/>
<xsd:enumeration value="InvalidSocialSecurityNumber"/>
<xsd:enumeration value="DeliveryAddressCityProblem"/>
<xsd:enumeration value="DeliveryAddressStreetProblem"/>
<xsd:enumeration value="DeliveryAddressHouseNumberOrNameProblem"/>
<xsd:enumeration value="DeliveryAddressCountryProblem"/>
<xsd:enumeration value="DeliveryAddressStateOrProvinceProblem"/>
<xsd:enumeration value="InvalidInstallments"/>
<xsd:enumeration value="InvalidCVC"/>
<xsd:enumeration value="MissingAdditionalData"/>
<xsd:enumeration value="MissingAcquirer"/>
<xsd:enumeration value="MissingAuthorisationMid"/>
<xsd:enumeration value="MissingFields"/>
<xsd:enumeration value="MissingRequiredField"/>
<xsd:enumeration value="InvalidNumberOfRequests"/>
<xsd:enumeration value="PayoutStoreDetailNotAllowed"/>
<xsd:enumeration value="InvalidIBAN"/>
<xsd:enumeration value="InconsistentIban"/>
<xsd:enumeration value="InvalidBIC"/>
<xsd:enumeration value="Invoice_MissingInvoiceProject"/>
<xsd:enumeration value="Invoice_MissingInvoiceBatch"/>
<xsd:enumeration value="Invoice_MissingCreditorAccount"/>
<xsd:enumeration value="Invoice_MissingProjectCode"/>
<xsd:enumeration value="Invoice_CreditorAccountNotFound"/>
<xsd:enumeration value="Invoice_ProjectNotFound"/>
<xsd:enumeration value="Invoice_InvoiceProjectCouldNotBeCreated"/>
<xsd:enumeration value="Invoice_InvoiceBatchAlreadyExists"/>
<xsd:enumeration value="Invoice_InvoiceBatchCouldNotBeCreated"/>
<xsd:enumeration value="Invoice_InvoiceBatchPeriodExceeded"/>
<xsd:enumeration value="InvoiceMissingInvoice"/>
<xsd:enumeration value="InvoiceMissingCreditorAccountCode"/>
<xsd:enumeration value="InvoiceMissingDebtorCode"/>
<xsd:enumeration value="InvoiceMissingDebtorName"/>
<xsd:enumeration value="InvoiceMissingDebtorEmailAddress"/>
<xsd:enumeration value="InvoiceMissingDebtorCountryCode"/>
<xsd:enumeration value="InvoiceMissingInvoicePayment"/>
<xsd:enumeration value="InvoiceMissingReference"/>
<xsd:enumeration value="InvoiceInvalidCreditorAccount"/>
<xsd:enumeration value="InvoiceInvalidDebtor"/>
<xsd:enumeration value="InvoiceInvalidPaymentAmount"/>
<xsd:enumeration value="InvoiceInvalidPaymentCurrency"/>
<xsd:enumeration value="InvoiceInvalidDebtorType"/>
<xsd:enumeration value="InvoiceDoesNotExists"/>
<xsd:enumeration value="InvoiceDoesNotExistsForDebtor"/>
<xsd:enumeration value="InvoicePaymentAmountTooHigh"/>
<xsd:enumeration value="InvoiceAlreadyPaid"/>
<xsd:enumeration value="InvoiceErrorStoreDebtor"/>
<xsd:enumeration value="InvoiceErrorStoreInvoice"/>
<xsd:enumeration value="InvoiceErrorCheckInvoiceReference"/>
<xsd:enumeration value="InvoiceErrorSearchInvoices"/>
<xsd:enumeration value="InvoiceErrorNoInvoiceConfiguration"/>
<xsd:enumeration value="InvoiceErrorInvalidInvoiceConfiguration"/>
<xsd:enumeration value="RechargeContractNotFound"/>
<xsd:enumeration value="RechargeTooManyPaymentDetails"/>
<xsd:enumeration value="RechargeInvalidContract"/>
<xsd:enumeration value="RechargeDetailNotFound"/>
<xsd:enumeration value="RechargeFailedToDisable"/>
<xsd:enumeration value="RechargeDetailNotAvailableForContract"/>
<xsd:enumeration value="InvalidMerchantAccount"/>
<xsd:enumeration value="RequestMissing"/>
<xsd:enumeration value="InternalError"/>
<xsd:enumeration value="UnableToProcess"/>
<xsd:enumeration value="PaymentDetailsAreNotSupported"/>
<xsd:enumeration value="OriginalPspReferenceInvalidForThisEnvironment"/>
<xsd:enumeration value="InvalidAcquirerAccount"/>
<xsd:enumeration value="InvalidConfigurationAuthorisationMid"/>
<xsd:enumeration value="InvalidConfigurationAcquirerPassword"/>
<xsd:enumeration value="InvalidConfigurationApiKey"/>
<xsd:enumeration value="InvalidConfigurationRedirectUrl"/>
<xsd:enumeration value="InvalidConfigurationAcquirerAccountData"/>
<xsd:enumeration value="InvalidConfigurationCurrencyCode"/>
<xsd:enumeration value="InvalidConfigurationAuthorisationTerminalId"/>
<xsd:enumeration value="InvalidConfigurationSerialNumber"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrieveDetailRequest">
    <wsdl:part name="parameters" element="tns:retrieveDetail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part name="ServiceException" element="tns:ServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveDetailResponse">
    <wsdl:part name="parameters" element="tns:retrieveDetailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OpenInvoiceDetailPortType">
    <wsdl:operation name="retrieveDetail">
      <wsdl:input name="retrieveDetailRequest" message="tns:retrieveDetailRequest">
    </wsdl:input>
      <wsdl:output name="retrieveDetailResponse" message="tns:retrieveDetailResponse">
    </wsdl:output>
      <wsdl:fault name="ServiceException" message="tns:ServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenInvoiceDetailHttpBinding" type="tns:OpenInvoiceDetailPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="retrieveDetail">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="retrieveDetailRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveDetailResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <wsdlsoap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenInvoiceDetail">
    <wsdl:port name="OpenInvoiceDetailHttpPort" binding="tns:OpenInvoiceDetailHttpBinding">
      <wsdlsoap:address location="https://ca-test.adyen.com/ca/services/OpenInvoiceDetail"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
